extends layout

block content
  h2 Tic Tac Toe
  table(class='board')
    each row in [1, 2, 3, 4, 5]
      tr
        each col in [1, 2, 3, 4, 5]
          th(class='cell' onclick='markTableCell("Moro!")')